{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "forOf": true,
            "jsx": true,
            "es6": true,
            "experimentalObjectRestSpread" : true
        },
    },
    "rules": {
        "comma-dangle": 0,
        "react/prop-types": 0,
        "react/jsx-indent-props" : 0,
        "react/jsx-closing-bracket-location" : 0,
        "no-underscore-dangle": 0,
        "consistent-return": 0,
        "global-require": 0,
        "import/no-unresolved": 0,
        "key-spacing": [2, {
            "mode": "minimum"
        }],
        "no-multi-spaces": [0, {
            "exceptions": {
                "VariableDeclarator": true
            }
        }]
    },
    "plugins": [
        "react",
        "import"
      ],
     "globals": {
        "__DEVSERVER__": true,
        "__DEVCLIENT__": true
  }
}
